
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#toggle1:checked ~ .content1 {  
  max-height: 500px;
}

#toggle2:checked ~ .content2 {  
  max-height: 500px;
}

#toggle3:checked ~ .content3 {  
  max-height: 500px;
}
